@use '../../../app/styles/vars';
@use '../../../app/styles/mixins';
@use '../../../app/styles/px';


.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 40vh;
  background-color: darken(vars.$color-transparent, 5%);
  margin-top: px.$px150;
  width: 100vw;
  padding: px.$px150;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 60%;
}


.infoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.infoList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: px.$px10;
  & > li, span {
    text-transform: uppercase;
    color: vars.$color-secondary;
    font-size: px.$px12;
    cursor: pointer;
  }
  & > span {
    margin-bottom: px.$px20;
  }
}

.imgWrapper {


  & > span {
    color: vars.$color-secondary;
  }
}


@include mixins.tablets() {
  .footer {
    padding: 50px;
    height: 30vh;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .infoList {
    margin: 10px;
    & > li, span {
      font-size: 12px;
    }
  }
}

