@use '../../../app/styles/px';
@use '../../../app/styles/vars';
@use '../../../app/styles/mixins';

.wrapper {
    margin-top: px.$px60;
    width: px.$px300;
}


.contentList {
    display: flex;
    flex-direction: column;
    transition: all ease-out vars.$transition-duration;
}