@font-face {
  font-family: 'BeatriceDeckTrial';
  src: url("./fonts/BeatriceDeckTRIAL-Thin-BF64829e8e21d70.otf") format('opentype');
  font-weight: 100;
}
@font-face {
  font-family: 'BeatriceDeckTrial';
  src: url("./fonts/BeatriceDeckTRIAL-Light-BF64829e8e6b5e8.otf") format('opentype');
  font-weight: 200;
}
@font-face {
  font-family: 'BeatriceDeckTrial';
  src: url("./fonts/BeatriceDeckTRIAL-Regular-BF64829e8e41476.otf") format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: 'BeatriceDeckTrial';
  src: url("./fonts/BeatriceDeckTRIAL-Medium-BF64829e8e8d71a.otf") format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'BeatriceDeckTrial';
  src: url("./fonts/BeatriceDeckTRIAL-Semibold-BF64829e8dec396.otf") format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'BeatriceDeckTrial';
  src: url("./fonts/BeatriceDeckTRIAL-Bold-BF64829e8e9ca08.otf") format('opentype');
  font-weight: 600;
}
@font-face {
  font-family: 'BeatriceDeckTrial';
  src: url("./fonts/BeatriceDeckTRIAL-Extrabold-BF64829e8ed31e6.otf") format('opentype');
  font-weight: 700;
}