$px1: 0.06vw;
$px2: 0.12vw;
$px3: 0.18vw;
$px4: 0.25vw;
$px5: 0.28vw;
$px6: 0.37vw;
$px7: 0.42vw;
$px8: 0.44vw;
$px9: 0.50vw;
$px10: 0.55vw;
$px11: 0.61vw;
$px12: 0.66vw;
$px13: 0.72vw;
$px14: 0.77vw;
$px15: 0.83vw;
$px16: 0.89vw;
$px17: 0.94vw;
$px18: 0.99vw;
$px19: 1.05vw;
$px20: 1.11vw;
$px21: 1.16vw;
$px22: 1.22vw;
$px23: 1.27vw;
$px24: 1.33vw;
$px25: 1.39vw;
$px26: 1.44vw;
$px27: 1.50vw;
$px28: 1.55vw;
$px29: 1.61vw;
$px30: 1.66vw;
$px31: 1.72vw;
$px32: 1.78vw;
$px33: 1.83vw;
$px34: 1.89vw;
$px35: 1.94vw;
$px36: 2.00vw;
$px37: 2.05vw;
$px38: 2.11vw;
$px39: 2.16vw;
$px40: 2.22vw;
$px41: 2.27vw;
$px42: 2.33vw;
$px43: 2.39vw;
$px44: 2.44vw;
$px45: 2.50vw;
$px46: 2.55vw;
$px47: 2.61vw;
$px48: 2.66vw;
$px49: 2.72vw;
$px50: 2.77vw;
$px51: 2.83vw;
$px52: 2.89vw;
$px53: 2.93vw;
$px54: 3.02vw;
$px55: 3.07vw;
$px56: 3.12vw;
$px57: 3.18vw;
$px58: 3.24vw;
$px59: 3.29vw;
$px60: 3.33vw;
$px61: 3.41vw;
$px62: 3.44vw;
$px63: 3.52vw;
$px64: 3.54vw;
$px65: 3.60vw;
$px66: 3.66vw;
$px67: 3.72vw;
$px68: 3.77vw;
$px69: 3.83vw;
$px70: 3.89vw;
$px71: 3.94vw;
$px72: 4.00vw;

$t1: 0.27vw;
$t2: 0.53vw;
$t3: 0.80vw;
$t4: 1.07vw;
$t5: 1.33vw;
$t6: 1.60vw;
$t7: 1.87vw;
$t8: 2.13vw;
$t9: 2.40vw;
$t10: 2.67vw;
$t11: 2.93vw;
$t12: 3.20vw;
$t13: 3.47vw;
$t14: 3.73vw;
$t15: 4.00vw;
$t16: 4.27vw;
$t17: 4.53vw;
$t18: 4.80vw;
$t19: 5.07vw;
$t20: 5.33vw;
$t21: 5.60vw;
$t22: 5.87vw;
$t23: 6.13vw;
$t24: 6.40vw;
$t25: 6.67vw;
$t26: 6.93vw;
$t27: 7.20vw;
$t28: 7.47vw;
$t29: 7.73vw;
$t30: 8.00vw;
$t31: 8.27vw;
$t32: 8.53vw;
$t33: 8.80vw;
$t34: 9.07vw;
$t35: 9.33vw;
$t36: 9.60vw;
$t37: 9.87vw;
$t38: 10.13vw;
$t39: 10.40vw;
$t40: 10.67vw;
$t41: 10.93vw;
$t42: 11.20vw;
$t43: 11.47vw;
$t44: 11.73vw;
$t45: 12.00vw;
$t46: 12.27vw;
$t47: 12.53vw;
$t48: 12.80vw;
$t49: 13.07vw;
$t50: 13.33vw;
$t51: 13.60vw;
$t52: 13.87vw;
$t53: 14.13vw;
$t54: 14.40vw;
$t55: 14.67vw;
$t56: 14.93vw;
$t57: 15.20vw;
$t58: 15.47vw;
$t59: 15.73vw;
$t60: 16.00vw;
$t61: 16.27vw;
$t62: 16.53vw;
$t63: 16.80vw;
$t64: 17.07vw;
$t65: 17.33vw;
$t66: 17.60vw;
$t67: 17.87vw;
$t68: 18.13vw;
$t69: 18.40vw;
$t70: 18.67vw;
$t71: 18.93vw;
$t72: 19.20vw;