@use 'reset';
@use 'fonts';
@use 'vars';
@use 'px';
@use 'mixins';

body {
  background-image: url("../../shared/assets/images/background.svg");
  font-size: px.$px16;
}

main {
  padding-inline: px.$px50;
}

header {
  padding-inline: px.$px50;
}

header,main,footer {
  opacity: 1;
}

a {
  color: vars.$color-black;
}
h2 {
  font-size: px.$px48 !important;
  font-weight: 700 !important;
  text-transform: uppercase;
  line-height: 0.8;
}

p {
  font-size: px.$px16 !important;
  font-weight: 300;
}

sup {
  position: relative;
  top: -(px.$px20);
  font-size: px.$px20;
  color: vars.$color-sup;
}

h3 {
  font-size: px.$px48;
  font-weight: 300;
}

@include mixins.tablets() {

  h2 {
    font-size: 48px !important;
  }

  h3 {
    font-size: 48px;
  }

}

