$color-black: #000000;
$color-white: #ffffff;
$transition-duration: 0.2s;
$color-burger-bg : #808080FF;
$color-error: #be0000;
$color-secondary: #858585;
$color-link: #6f7ae1;
$color-search-bg: #D9D9D9;
$color-transparent: #DCDCDC;
$color-sup: #000E8A;
$lightness: 5%;