@use '../../../app/styles/px';
@use '../../../app/styles/vars';
@use '../../../app/styles/mixins';


.accordeon {
    display: flex;
    flex-direction: column;
    transition: max-height ease-out vars.$transition-duration;
    animation: fadeIn vars.$transition-duration forwards;
}

.accordeon[open] {

    .content {
        animation: fadeIn vars.$transition-duration linear;
    }

    .arrow {
        transform: rotate(270deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        margin-top: -(px.$px10);
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }

}

.title {
    display: flex;
    justify-content: space-between;
    padding-block: px.$px15;
    cursor: pointer;
    align-items: center;

    &::marker {
        display: none;
    }
}


.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    white-space: nowrap;
    gap: px.$px10;
    text-align: center;
    margin-bottom: px.$px10;
    user-select: none;


    & > button {
        padding-block: px.$px5;
        border: px.$px1 solid vars.$color-secondary;
        font-size: px.$px14;
        transition: all vars.$transition-duration ease-out;

        &:hover {
           color: vars.$color-white;
           background-color: vars.$color-black; 
        }
    }
}

.separator {
    display: block;
    width: 100%;
    height: px.$px1;
    border: px.$px1 dashed black;
}

.arrow {
    transform: rotate(180deg);
    width: px.$px10;
    height: px.$px10;
    transition: all vars.$transition-duration ease;
}

