@use '../../../app/styles/vars';
@use '../../../app/styles/mixins';
@use '../../../app/styles/px';

.wrapper {
    display: flex;
    min-width: 100vw;
    height: 90vh;
    align-items: center;
}

.variants {
    display: flex;
    gap: px.$px20;
    justify-content: start;
    color: vars.$color-secondary;
}

.active {
    color: vars.$color-black;
    font-size: px.$px18;
}

.container {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: px.$px50;
}

.productsList {
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: px.$px20;
    padding: px.$px20 0;
    border-bottom: px.$px1 solid vars.$color-secondary;
    border-top: px.$px1 solid vars.$color-secondary;
}

.totalCard {
    width: 30vw;
    padding: px.$px50 px.$px40;
    border: px.$px1 solid vars.$color-secondary;
    height: fit-content;
    h4 {
        font-size: px.$px24;
        font-weight: 300;
        text-transform: uppercase;
    }
}

.contentCard {
    display: flex;
    flex-direction: column;
    gap: px.$px20;
}

.totalEnter {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    > div {
        display: flex;
    }
}

.contentInner {
    display: flex;
    justify-content: space-between;
    
    > span {
        color: vars.$color-black;
    }
}

.agreement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > label {
        color: vars.$color-secondary;
        font-weight: 200;
        margin-top: 0;
    }

    > input {
        height: px.$px20;
        width: px.$px20;
    }
}

.btnContinue {
    text-transform: uppercase;
    padding: px.$px18;
    background-color: vars.$color-transparent;
    
    &:not(:disabled):hover {
        background-color: transparent;
        box-shadow: inset 0 0 0 px.$px1 vars.$color-black;
        transition: 0.1s linear all;
    }
}

.navLink {
    text-transform: uppercase;
    font-size: px.$px16;
    font-weight: 500;
    cursor: pointer;
}